<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Meta tag -->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        
        <!-- Favicon & Title -->
        <link rel="icon" type="image/png" sizes="16x16" href="/images/favicon.png" />
        <title>Fleet Stack</title>

        <!-- CSS only -->
        <link rel="stylesheet" href="https://pro.fontawesome.com/releases/v5.10.0/css/all.css" />
        <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/css/aos.css" />
        <link rel="stylesheet" type="text/css" href="/css/slick.css" />
        <link rel="stylesheet" type="text/css" href="/css/style.css" />
        <link rel="stylesheet" type="text/css" href="/css/responsive.css" />
    </head>
    <body>
        <div class="main-wrpper">
            
            <!-- Header -->
            <header>
                <div class="container-fluid">
                    <nav class="navbar navbar-expand-md navbar-light">
                         <a class="navbar-brand" href="index.html">
                            <img src="/images/logo-dark.webp" alt="Logo" class="logo-light" />
                            <img src="/images/logo-dark.webp" alt="Logo" class="logo-dark" />
                        </a>
                        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#NavbarToggle" aria-controls="NavbarToggle" aria-expanded="false" aria-label="Toggle navigation">
                            <span class="navbar-toggler-icon"></span>
                        </button>
                        <div class="collapse navbar-collapse" id="NavbarToggle">
                            <ul class="navbar-nav">
                                <li class="dropdown lang-dropdown">
                                    <button class="dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="/images/flag1.svg" alt="">
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
                                        <li><a class="dropdown-item" href="#"><img src="/images/flag1.svg" alt=""> English</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="/images/flag2.svg" alt=""> Española</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="/images/flag3.svg" alt=""> Deutsche</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="/images/flag4.svg" alt=""> Italiana</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="/images/flag5.svg" alt=""> русский</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="/images/flag6.svg" alt=""> 中国人</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="/images/flag7.svg" alt=""> français</a></li>
                                        <li><a class="dropdown-item" href="#"><img src="/images/flag8.svg" alt=""> Arabic</a></li>
                                    </ul>
                                </li>
                                <li><a class="nav-link" href="#"><i class="fad fa-th"></i></a></li>
                                <li><a class="nav-link" href="#"><i class="fas fa-expand"></i></a></li>
                                <li><a class="nav-link toggle-swich" href="#"><i class="fas fa-moon"></i></a></li>
                                <li class="dropdown user-dropdown">
                                    <button class="dropdown-toggle user-box" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
                                        <img src="<%= user.Image %>" alt="">
                                        <div>
                                            <h5><%= user.Username %></h5>
                                            <h6>Founder</h6>
                                        </div>
                                    </button>
                                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton1">                                       
                                        <li><a class="dropdown-item" href="#"><i class="far fa-volleyball-ball"></i>  Help</a></li>
                                        <li><a class="dropdown-item" href="#"><i class="fas fa-sign-out-alt"></i>  Logout</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </nav>
                </div>
            </header>
            <!-- End Header -->

            <div class="head-buttons">
                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3 col-sm-4">
                            <a href="/home" class="btn-back"> <i class="fal fa-arrow-left"></i> Back to Project</a>
                        </div>
                        <div class="col-md-3 col-sm-4">
                            <div class="device-tabs">
                                <ul class="nav nav-tabs" id="myTab" role="tablist">
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link active" id="tab1-tab" data-bs-toggle="tab" data-bs-target="#tab1" type="button" role="tab" aria-controls="tab1" aria-selected="true"><i class="fas fa-mobile-android-alt"></i></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="tab2-tab" data-bs-toggle="tab" data-bs-target="#tab2" type="button" role="tab" aria-controls="tab2" aria-selected="false"><i class="far fa-tablet"></i></button>
                                    </li>
                                    <li class="nav-item" role="presentation">
                                        <button class="nav-link" id="tab3-tab" data-bs-toggle="tab" data-bs-target="#tab3" type="button" role="tab" aria-controls="tab3" aria-selected="false"><i class="far fa-laptop"></i></button>
                                    </li>
                                    <!-- <li>size (px)<span>320 * 640</span></li> -->
                                </ul>
                            </div>
                        </div>
                        <div class="col-md-6 col-sm-4">
                            <ul class="right-part">
                                <li><a href="<%= '/buildaab/'+project.ProjectId %>"></a><span><i class="fas fa-ghost"></i></span>  AAB bundle</a> </li>
                                <li><a href="<%= '/buildapk/'+project.ProjectId %>"></a><span><i class="fas fa-ghost"></i></span> Download APK</a> </li>
                                <li><a href="<%= '/downloadcode/'+project.ProjectId %>"></a><span><i class="fas fa-cloud-download"></i></span> Download Code</a> </li>
                                <li><a href="<%= '/connectgithub/'+project.ProjectId %>"></a><span><i class="fab fa-github"></i></span> Connect GitHub Repo</a> </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>

            <section class="reserve-wrp">
                <div class="left-part">
                    <form method="post" action="<%= '/project/change/'+project.ProjectId %>">
                        <div class="reserve-form">                        
                            <div class="form-group">
                                <label>Application Name</label>
                                <input name="appname" type="text" class="form-control" value="<%= project.AppName %>">
                            </div>
                            <div class="form-group">
                                <label>Package Name</label>
                                <input name="packagename" type="text" class="form-control" value="<%= project.PackageName %>">
                            </div>
                            <div class="form-group">
                                <label>Server URL</label>
                                <input name="serverurl" type="text" class="form-control" value="<%= project.ServerURL %>">
                            </div>
                            <div class="form-group">
                                <label>Upload & display logo</label>
                                <div class="upload-box">
                                    <div class="containers">
                                        <div class="imageWrapper">
                                            <img class="image1" src="/images/upload-file.png">
                                        </div>
                                    </div>
                                    <input name="applogo" type="file" class="file-input1">
                                </div>
                            </div>
                            <div class="form-group">
                                <label>Upload Res zip folder</label>
                                <div class="upload-box">
                                    <div class="containers">
                                        <div class="imageWrapper">
                                            <img class="image2" src="/images/upload-file.png">
                                        </div>
                                    </div>
                                    <input name="appicon" type="file" class="file-input2">
                                </div>
                            </div>                                                   
                        </div>

                        <div class="bottom-fix">
                            <button type="submit" class="btn-primary">Apply Changes</button> 
                        </div> 
                    </form>
                </div>
                <div class="right-part">
                    

                    <div class="tab-content" id="myTabContent">
                        <div class="tab-pane fade show active" id="tab1" role="tabpanel" aria-labelledby="tab1-tab">
                            <div class="device-block">
                                <iframe src="https://starlysoft.com/testinfo/#/minified:y5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab2" role="tabpanel" aria-labelledby="tab2-tab">
                            <div class="device-block">
                                <iframe src="https://starlysoft.com/testinfo/#/minified:y5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="tab3" role="tabpanel" aria-labelledby="tab3-tab">
                            <div class="device-block">
                                <iframe src="https://starlysoft.com/testinfo/#/minified:y5" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
                            </div>
                        </div>
                    </div>                   
                </div>
            </section>

        </div>

        <!-- script -->
        <script src="/js/jquery.js"></script>
        <script src="/js/bootstrap.bundle.min.js"></script>
        <script src="/js/scrollIt.min.js"></script>
        <script src="/js/slick.min.js"></script>
        <script src="/js/aos.js"></script>
        <script src="/js/custom.js"></script>
        <!-- End script -->
    </body>
</html>
